@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

body {
    --c-main:#363E70;
    --c-secondary:#5B68BD;
    --c-accent:#B722BD;
    --c-black:#1D223D;
    --c-white:#fff;
    --c-green:#47702B;
    --c-purple:#513B70;
    --c-grey:#E1E2E6;
    --c-dark-grey:#6A6E88;
    --c-offwhite:#FAFBFF;
    --c-bg:var(--c-offwhite);
    --page-padding:2rem;

    position:relative;
    margin:0;
    color:var(--c-black);
    background-color:var(--c-bg);
    font-family:"Fira Sans";
    display:flex;
    flex-direction:column;
    align-items:stretch;
}

input,
button {
    appearance:none;
    border:solid 1px currentColor;
    color:var(--c-main);
    font-family:"Fira Sans";
    padding:.5rem 1rem;
    background:transparent;
}

button {
    text-transform:uppercase;
    font-weight:bold;
    cursor:pointer;
}

button:hover {
    background-color:var(--c-grey);
}

input {
    border-width:0px 0px 1px 0px;
    padding-left:0;
    padding-bottom:.25rem;
    padding-top:.75rem;
}

#topNav {
    display:flex;
    justify-content:space-between;
    align-items:center;
    color:var(--c-white);
    background-color:var(--c-black);
    padding:0 var(--page-padding);
}

#controls {
    padding:0 var(--page-padding);
    padding-top:4rem;
    display:flex;
    box-sizing:border-box;
}

#controls .input {
    margin-right:1rem;
}

#controlsSeparator {
    font-weight:bold;
    margin:0 1rem;
    align-self:center;
}

#stats {
    display:flex;
    padding:2rem var(--page-padding);
    padding-bottom:0;
    width:100vw;
    overflow-x:auto;
    align-items:stretch;
    box-sizing:border-box;
}

#stats .statCard {
    border:solid 1px var(--c-grey);
    border-left:0;
    box-shadow:inset 2rem 0 var(--stat-color);
    display:flex;
    flex-direction:column;
    align-items:stretch;
    justify-content:space-between;
    margin-right:2rem;
}

#stats .statCard .statTitle {
    color:var(--c-dark-grey);
    font-size:1rem;
    padding:0 3rem;
    padding-top:.5rem;
    text-align:left;
}

#stats .statCard .statValue {
    color:var(--stat-color);
    text-align:right;
    font-size:5rem;
    padding:0 1rem;
    padding-left:3rem;
    line-height:1;
    white-space:nowrap;
}

#statTotalOwned {
    --stat-color:var(--c-green);
}

#statMinValue {
    --stat-color:var(--c-black);
}

#statAvgValue {
    --stat-color:var(--c-black);
}

#statCollections {
    --stat-color:var(--c-purple);
}

#collectionList {
    --border-radius:1rem;
    --border:solid 1px var(--c-grey);
    --margin:var(--page-padding);
    margin:var(--margin);
    border:var(--border);
    background-color:var(--c-white);
    display:grid;
    grid-template-columns:5rem 3fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    row-gap:1rem;
    align-items:stretch;
    box-sizing:border-box;
}

#collectionList > .listHeader {
    padding:1rem;
    display:flex;
    align-items:center;
    justify-content:flex-start;
    border-bottom:solid 1px var(--c-grey);
}

#collectionList > * {
    padding:0 1rem;
    box-sizing:border-box;
}

.input {
    position:relative;
    display:inline-block;
}

.input input:focus {
    outline:none;
}

.input > span {
    --size:.75rem;
    --pad-y:calc(var(--size) / 2);
    --pad-x:0;
    position:absolute;
    top:calc(-1 * var(--size) / 2 - var(--pad-y));
    left:0;
    font-size:var(--size);
    padding:var(--pad-y) var(--pad-x);
}

#collectionList .thumbnail {
    display:flex;
}

#collectionList .thumbnail img {
    height:4rem;
    width:4rem;
}

#collectionList > :not(.collectionName, .listHeader) {
    white-space:nowrap;
    display:flex;
    align-items:center;
}

#collectionsHeader {
    position:sticky;
    top:0;
    background-color:var(--c-white);
    border-bottom:solid 1px var(--c-grey);
}

.ethLogo {
    width:.5em;
    height:.5em;
    min-width:1rem;
    min-height:1rem;
}

a {
    color:var(--c-secondary);
    text-decoration:none;
}

@media (max-width: 960px) {
    #collectionList {
        --margin:0;
        border-left:0;
        border-right:0;
        width:100vw;
        overflow-x:auto;
        grid-template-columns:5rem 240px 120px 120px 120px 120px 120px 120px 120px 120px;
    }

    #controls {
        width:100vw;
        display:flex;
        align-items:center;
        flex-wrap:wrap;
        margin-bottom:2rem;
    }

    #connectWallet {
        margin:0 auto;
    }

    #controlsSeparator {
        width:100%;
        margin:0;
        margin-top:1rem;
        margin-bottom:2rem;
        text-align:center;
    }

    #controls .input {
        margin-left:auto;
    }

    #displayCustomAddress {
        margin-right:auto;
    }
}
