@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

body {
    --c-main:#363E70;
    --c-secondary:#5B68BD;
    --c-light:#798BFC;
    --c-accent:#B722BD;
    --c-black:#1D223D;
    --c-white:#fff;
    --c-green:#47702B;
    --c-red:#BD353F;
    --c-yellow:#D6B23C;
    --c-purple:#89428A;
    --c-teal:#36A38D;
    --c-grey:#E1E2E6;
    --c-blue-grey:#9DA3C9;
    --c-dark-grey:#6A6E88;
    --c-offwhite:#FAFBFF;
    --c-bg:var(--c-offwhite);
    --page-padding:2rem;

    position:relative;
    margin:0;
    color:var(--c-black);
    background-color:var(--c-bg);
    font-family:"Fira Sans";
    display:flex;
    flex-direction:column;
    align-items:stretch;
}

input,
button {
    appearance:none;
    border:solid 1px currentColor;
    color:var(--c-main);
    font-family:"Fira Sans";
    padding:.5rem 1rem;
    background:transparent;
}

button {
    text-transform:uppercase;
    font-weight:bold;
    cursor:pointer;
}

button:hover {
    background-color:var(--c-grey);
}

input {
    border-width:0px 0px 1px 0px;
    padding-left:0;
    padding-bottom:.25rem;
    padding-top:.75rem;
}

#topNav {
    display:flex;
    align-items:center;
    color:var(--c-white);
    background-color:var(--c-main);
    padding:0 var(--page-padding);
    height:4rem;
}

#title {
    margin-right:auto;
}

#topNav a {
    color:var(--c-light);
    text-decoration:underline;
}

#ghLink {
    background-image:url('../gh.png');
    background-size:contain;
    background-position:center;
    background-repeat:no-repeat;
    width:1.5rem;
    height:1.5rem;
    margin-left:1rem;
}

#pageTitle {
    display:flex;
    align-items:center;
    padding:3rem var(--page-padding);
    margin:0;
    background:var(--c-grey);
}

#pageTitle > img {
    width:1em;
    height:1em;
    margin-right:1rem;
}

#controls {
    padding:2rem var(--page-padding);
    display:flex;
    box-sizing:border-box;
}

#controls .input {
    margin-right:1rem;
}

#controlsSeparator {
    font-weight:bold;
    margin:0 1rem;
    align-self:center;
    color:var(--c-main);
}

#stats {
    --rows:4;
    --row-height:3rem;
    --gap:2rem;
    display:grid;
    grid-template-columns:repeat(8, 1fr);
    grid-template-rows:repeat(var(--rows), var(--row-height));
    grid-gap:var(--gap);
    padding:0 var(--page-padding);
    padding-bottom:0;
    max-width:1600px;
    overflow:auto;
    box-sizing:border-box;
    height:calc(var(--gap) * (var(--rows) - 1) + var(--rows) * var(--row-height) + 1rem);
}

#stats .statCard {
    box-shadow:inset 1rem 0 var(--stat-color);
    display:flex;
    flex-direction:column;
    align-items:stretch;
    justify-content:space-between;
    overflow:hidden;
}

#stats .statCard .statTitle {
    color:var(--c-dark-grey);
    font-size:1rem;
    padding:0 2rem;
    text-align:left;
}

#stats .statCard .statValue {
    color:var(--stat-color);
    font-size:5rem;
    padding:0 1rem;
    line-height:1;
    white-space:nowrap;
    flex:1 1 auto;
    overflow:hidden;
    display:flex;
    align-items:flex-end;
    justify-content:flex-end;
}

#stats .statCard .statValue .ethLogo {
    margin-bottom:.5rem;
}

#stats .statCard.smallStat .statValue {
    font-size:4rem;
}

#statTotalOwned {
    --stat-color:var(--c-green);
    grid-area:1 / 1 / span 2 / span 2;
}

#statCollections {
    --stat-color:var(--c-purple);
    grid-area:1 / 3 / span 2 / span 2;
}

#statMinValue {
    --stat-color:var(--c-black);
    grid-area:3 / 1 / span 2 / span 2;
}

#statAvgValue {
    --stat-color:var(--c-black);
    grid-area:3 / 3 / span 2 / span 2;
}

#statCollectionBreakdown {
    --stat-color:var(--c-main);
    grid-area:1 / 5 / span 4 / span 4;
}

#statCollectionPieChart {
    flex:1 0 auto;
    position:relative;
}

#statCollectionPieChart .apexcharts-legend-series {
    display:flex;
    align-items:center;
    font-family:'Fira Sans';
}

#statCollectionPieChart .apexcharts-legend-marker {
    flex:0 0 auto;
}

#collectionList {
    --border-radius:1rem;
    --border:solid 1px var(--c-grey);
    --margin:var(--page-padding);
    margin:var(--margin);
    border:var(--border);
    background-color:var(--c-white);
    display:grid;
    grid-template-columns:5rem 3fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    row-gap:1rem;
    align-items:stretch;
    box-sizing:border-box;
}

#collectionList > .listHeader {
    padding:1rem;
    display:flex;
    align-items:center;
    justify-content:flex-start;
    border-bottom:solid 1px var(--c-grey);
}

#collectionList > * {
    padding:0 1rem;
    box-sizing:border-box;
}

.input {
    position:relative;
    display:inline-block;
}

.input input:focus {
    outline:none;
}

.input > span {
    --size:.75rem;
    --pad-y:calc(var(--size) / 2);
    --pad-x:0;
    position:absolute;
    top:calc(-1 * var(--size) / 2 - var(--pad-y));
    left:0;
    font-size:var(--size);
    padding:var(--pad-y) var(--pad-x);
}

#collectionList .thumbnail {
    display:flex;
}

#collectionList .thumbnail img {
    height:4rem;
    width:4rem;
}

#collectionList > :not(.collectionName, .listHeader) {
    white-space:nowrap;
    display:flex;
    align-items:center;
}

#collectionsHeader {
    position:sticky;
    top:0;
    background-color:var(--c-white);
    border-bottom:solid 1px var(--c-grey);
}

.ethLogo {
    width:.75em;
    height:.75em;
    min-width:1rem;
    min-height:1rem;
}

.hidden {
    display:none!important;
}

a {
    color:var(--c-secondary);
    text-decoration:none;
}

@media (max-width: 960px) {
    #collectionList {
        --margin:0;
        border-left:0;
        border-right:0;
        width:100vw;
        overflow-x:auto;
        grid-template-columns:5rem 240px 120px 120px 120px 120px 120px 120px 120px 120px;
    }

    #controls {
        width:100vw;
        display:flex;
        align-items:center;
        flex-wrap:wrap;
        margin-bottom:2rem;
        padding-top:0;
    }

    #connectWallet {
        margin:0 auto;
    }

    #controlsSeparator {
        width:100%;
        margin:0;
        margin-top:1rem;
        margin-bottom:2rem;
        text-align:center;
    }

    #controls .input {
        margin-left:auto;
    }

    #displayCustomAddress {
        margin-right:auto;
    }
}
