---
# SCSS
---

@import url("https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap");
@import 'card';
@import 'checkbox';

body {
    --c-main:#363E70;
    --c-main-dark:#1D223D;
    --c-secondary:#5B68BD;
    --c-light:#798BFC;

    --c-white:#fff;
    --c-light-grey:#E1E2E6;
    --c-grey:#6A6E88;
    --c-dark-grey:#383b4c;
    --c-black:#272935;

    --c-green:#47702B;
    --c-red:#BD353F;
    --c-yellow:#D6B23C;
    --c-purple:#89428A;
    --c-magenta:#B722BD;
    --c-teal:#36A38D;

    --c-blue-grey:#9DA3C9;
    --c-offwhite:#F0F3FF;

    --c-bg:var(--c-black);
    --c-accent:var(--c-yellow);
    --page-padding:2rem;

    position:relative;
    margin:0;
    color:var(--c-white);
    background-color:var(--c-bg);
    font-family:"Fira Sans";
    display:flex;
    flex-direction:column;
    align-items:stretch;
}

body.nooverflow {
    overflow:hidden;
}

input[type="text"],
button {
    appearance:none;
    border:solid 1px currentColor;
    font-family:"Fira Sans";
    padding:.5rem 1rem;
}

button {
    text-transform:uppercase;
    font-weight:bold;
    cursor:pointer;
    color:var(--c-white);
    background:var(--c-main);
    border-radius:.5rem;
}

button:hover {
    background-color:var(--c-secondary);
}

input[type="text"] {
    border-width:0px 0px 1px 0px;
    padding-left:0;
    padding-bottom:.25rem;
    padding-top:.75rem;
    background:transparent;
    color:currentColor;
}

#topNav {
    display:flex;
    align-items:center;
    color:var(--c-white);
    background-color:var(--c-main);
    padding:0 var(--page-padding);
    height:4rem;
}

#topNav .siteLogo {
    width:3rem;
    width:3rem;
    margin-right:1rem;
}

#title {
    margin-right:auto;
}

#topNav a {
    color:var(--c-light);
    text-decoration:underline;
}

#ghLink {
    background-image:url('../gh.png');
    background-size:contain;
    background-position:center;
    background-repeat:no-repeat;
    width:1.5rem;
    height:1.5rem;
    margin-left:1rem;
}

#pageHeader {
    display:flex;
    align-items:center;
    padding:2rem 0;
    margin:1rem var(--page-padding);
}

#pageTitle {
    margin:0;
    margin-right:auto;
    display:flex;
    align-items:center;
    color:var(--c-white);
    font-weight:normal;
}

#pageTitle > svg path {
    fill:var(--c-white);
}

#pageTitle > svg {
    width:3rem;
    height:3rem;
    margin-right:1rem;
}

#controls {
    display:flex;
    box-sizing:border-box;
}

#controls .input {
    margin-right:1rem;
}

#controlsSeparator {
    font-weight:bold;
    margin:0 1rem;
    align-self:center;
}

#mainLoader {
    margin:auto;
    width:6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#loaderCollectionCount {
    white-space:nowrap;
}

#mainLoader > svg {
    overflow:visible;
    fill:var(--c-secondary);
    stroke:var(--c-secondary);
    width:100%;
    height:auto;
    margin-bottom:1rem;
}

#stats {
    --rows:6;
    --columns:10;
    --row-height:2.5rem;
    --gap:1rem;
    display:grid;
    grid-template-columns:repeat(var(--columns), 1fr);
    grid-template-rows:repeat(var(--rows), var(--row-height));
    grid-gap:var(--gap);
    padding:0 var(--page-padding);
    padding-bottom:0;
    max-width:1600px;
    box-sizing:border-box;
}

.statCard {
    --stat-color:var(--c-main);
    @include card;
    display:flex;
    flex-direction:column;
    align-items:stretch;
    justify-content:space-between;
    overflow:hidden;
    padding:.5rem 1rem;
    padding-bottom:1rem;
    background:var(--stat-color);
}

.statCard .statTitle {
    font-size:1rem;
    text-align:left;
    text-transform:uppercase;
}

.statCard .statValue {
    font-size:3rem;
    line-height:1;
    white-space:nowrap;
    flex:0 0 auto;
    overflow:hidden;
    display:flex;
    align-items:center;
    justify-content:flex-start;
}

.statCard.smallStat .statValue {
    font-size:2.5rem;
}

#statTotalOwned {
    grid-area:1 / 1 / span 2 / span 2;
}

#statCollections {
    grid-area:1 / 3 / span 2 / span 2;
}

#statMinValue {
    grid-area:3 / 1 / span 2 / span 2;
}

#statAvgValue {
    grid-area:3 / 3 / span 2 / span 2;
}

#statPossibleROI {
    border:0;
    grid-area:5 / 1 / span 2 / span 2;
}

#statTotalInvestment {
    grid-area:5 / 3 / span 2 / span 2;
}

#statPossibleROI[data-roi=negative] { --stat-color:var(--c-red); }
#statPossibleROI[data-roi=positive] { --stat-color:var(--c-green); }

#statCollectionBreakdown {
    --stat-color:var(--c-main);
    grid-area:1 / 5 / span 6 / span 4;
}

#statCollectionBreakdown .statValue {
    flex:1 1 auto;
}

#statCollectionPieChart {
    flex:1 0 auto;
    position:relative;
}

#statCollectionPieChart .apexcharts-legend-series {
    display:flex;
    align-items:center;
    font-family:'Fira Sans';
}

#statCollectionPieChart .apexcharts-legend-marker {
    flex:0 0 auto;
}

#portfolioSettings {
    padding:1rem var(--page-padding);
    margin-top:2rem;
    display:flex;
    align-items:center;
}

#portfolioSettings h2 {
    color:var(-c--main);
    margin:0;
}

#refreshPanel {
    margin-left:1rem;
}

#refreshCollections {
    margin-left:1rem;
}

#settingsPanel {
    margin-left:auto;
}

#lastUpdateLabel {
    color:var(--c-blue-grey);
}

#refreshIndicator {
    fill:var(--c-white);
    width:1.25rem;
    animation:spin 2s linear infinite;
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

#collectionList {
    display:grid;
    grid-template-columns:4rem 5rem 3fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    align-items:stretch;
    box-sizing:border-box;
    position:relative;
    overflow-x:auto;
    background:var(--c-dark-grey);
}

#collectionListMenuContainer {
    position:absolute;
    width:100%;
    height:100%;
    background-color:transparent;
}

#collectionListMenu {
    position:absolute;
    margin-left:2rem;
    width:10rem;
    border:solid 1px var(--c-light-grey);
    box-shadow:-2px 2px 2px rgba(0,0,0,.1), 2px 2px 2px rgba(0,0,0,.1);
    background-color:var(--c-black);
    display:flex;
    flex-direction:column;
    align-items:stretch;
    padding:0;
}

#collectionListMenu svg {
    height:1rem;
    width:1rem;
    margin-left:auto;
    fill:var(--c-white);
}

#collectionListMenu > *:not(:last-child) {
    border-bottom:solid 1px var(--c-light-grey);
}

#collectionListMenu > * {
    display:flex;
    align-items:center;
    padding:0 1rem;
    height:3rem;
    cursor:pointer;
}

#collectionList .collectionName {
    color:var(--c-white);
    display:flex;
    align-items:center;
}

#collectionList .collectionName svg {
    height: .75rem;
    fill: #fff;
    margin: 0 .5rem;
}

#collectionListMenu > .disabled,
#collectionListMenu > .disabled svg path {
    --c:var(--c-dark-grey);
    color:var(--c);
    fill:var(--c);
}

#collectionList > .listHeader {
    padding:.5rem 1rem !important;
    display:flex;
    align-items:center;
    justify-content:flex-start;
}

#collectionList > *:not(#collectionListMenu) {
    padding:0 1rem;
    box-sizing:border-box;
    border-top:solid 1px var(--c-grey);
}

#collectionList:not([data-show-hidden="true"]) > [data-hidden="true"] {
    display:none!important;
}

#collectionList > [data-hidden="true"] {
    opacity:0.5;
}

#collectionList > [data-roi] .ethLogo {
    background: white;
    border-radius: 50%;
    padding: 1px;
    margin-right: .5em;
}

#collectionList > [data-roi] {
    color:var(--c-white);
}

#collectionList > [data-roi] > span {
    display:flex;
    align-items:center;
    padding:.5rem;
    border-radius:.25rem;
    background:var(--c-yellow);
}

#collectionList > [data-roi=positive] > span {
    background:var(--c-green);
}

#collectionList > [data-roi=negative] > span {
    background:var(--c-red);
}

#collectionList .collectionMenuButton {
    display:flex;
    align-items:center;
    justify-content:center;
    cursor:pointer;
}

#collectionList .collectionMenuButton svg {
    height:1rem;
    fill:var(--c-white);
}

.input {
    position:relative;
    display:inline-block;
}

.input input:focus {
    outline:none;
}

.input > span {
    --size:.75rem;
    --pad-y:calc(var(--size) / 2);
    --pad-x:0;
    position:absolute;
    top:calc(-1 * var(--size) / 2 - var(--pad-y));
    left:0;
    font-size:var(--size);
    padding:var(--pad-y) var(--pad-x);
}

#app #collectionList .collectionMenuButton + a.thumbnail {
    display:flex;
    padding-left:0;
}

#collectionList .thumbnail img {
    height:3rem;
    width:3rem;
    margin:.5rem;
    border-radius:.5rem;
    border:solid 1px var(--c-accent);
}

#collectionList > :not(#collectionListMenu, .collectionName, .listHeader) {
    white-space:nowrap;
    display:flex;
    align-items:center;
}

#collectionsHeader {
    position:sticky;
    top:0;
    background-color:var(--c-white);
    border-bottom:solid 1px var(--c-light-grey);
}

#salesTabContainer {
    position:fixed;
    width:100vw;
    height:100vh;
    background-color:rgba(0,0,0,.1);
    display:flex;
    align-items:center;
    justify-content:center;
}

#salesTabPane {
    position:relative;
    width:30rem;
    max-width:92vw;
    height:50rem;
    max-height:90vh;
    border:solid 1px var(--c-light-grey);
    border-radius:.5rem;
    box-shadow:-2px 2px 2px rgba(0,0,0,.1), 2px 2px 2px rgba(0,0,0,.1);
    background:var(--c-black);
    overflow:auto;
    box-sizing:border-box;
    display:flex;
    align-items:stretch;
    flex-direction:column;
    padding-bottom:4rem;
}

#salesTabPane > header {
    display:flex;
    align-items:center;
    justify-content:center;
    background-color:var(--c-main);
    padding-top:2rem;
    position:sticky;
    top:0;
}

#salesTabPane > header > img {
    width: 3rem;
    height: 3rem;
    border-radius: .5rem;
    border:solid 1px var(--c-accent);
    margin-right:1rem;
}

#salesTabCloseButton {
    position:absolute;
    top:0;
    left:0;
    width:4rem;
    height:4rem;
    font-size:3rem;
    display:flex;
    align-items:center;
    justify-content:center;
    cursor:pointer;
}

#salesTabPane > header + h2 {
    margin-top:0;
}

#salesTabPane > * {
    padding:0 2rem;
}

#salesTabPane h2 {
    border-top:solid 1px var(--c-light-grey);
    padding-top:1rem;
}

#salesTabTotalsSection {
    display:grid;
    grid-template-columns:repeat(4, 1fr);
    grid-template-rows:repeat(2, 4rem);
    column-gap:1rem;
}

#salesTabPane .statCard[data-stat="total-24h"] {
    --stat-color:var(--c-dark-grey);
    grid-area:1 / 1 / span 2 / span 2;
}

#salesTabPane .statCard[data-stat="total-3h"] {
    --stat-color:var(--c-dark-grey);
    grid-area:1 / 3 / span 2 / span 2;
}

#salesTabPane .salesMeterContainer {
    display:flex;
    align-items:stretch;
    flex-direction:column;
}

#salesTabPane .salesMeter,
#salesTabPane .soldItems {
    display:flex;
    justify-content:space-between;
}

#salesTabPane .soldItems img {
    width:5rem;
    border:solid 1px var(--c-light-grey);
    border-radius:.5rem;
}

#salesTabPane .salesMeter {
    --bg:var(--c-dark-grey);
    background:linear-gradient(transparent 33%, var(--bg) 33%, var(--bg) 66%, transparent 66%);
    background-size: calc(100% - 2rem) 100%;
    background-repeat: no-repeat;
    background-position: center;
    margin:0 1rem;
    margin-bottom:.5rem;
}

#salesTabPane .salesMeter > span {
    --meter-color:var(--c-light-grey);
    font-size:.75rem;
    height:3rem;
    width:3rem;
    border-radius:50%;
    border:solid .25rem var(--bg);
    background:var(--meter-color);
    display:flex;
    align-items:center;
    justify-content:center;
    color:var(--c-white);
}

#salesTabPane .soldItemCard  {
    display:flex;
    flex-direction:column;
    align-items:center;
}

#salesTabPane .soldItemData  {
    display:flex;
    align-items:center;
    margin-top:.5rem;
}

.errorToast {
    width: 20rem;
    max-width:70%;
    background: var(--c-red);
    padding: 1.5rem 2rem;
    border-radius: .5rem;
    border: solid 1px var(--c-light-grey);
    margin: auto;
    position: fixed;
    bottom: 5rem;
    left: 0;
    right: 0;
}

#salesTabPane .salesMeter > span:nth-child(1) { --meter-color:var(--c-red); }
#salesTabPane .salesMeter > span:nth-child(2) { --meter-color:var(--c-yellow); }
#salesTabPane .salesMeter > span:nth-child(3) { --meter-color:var(--c-green); }

.ethLogo {
    width:.75em;
    height:.75em;
    min-width:1rem;
    min-height:1rem;
    background:var(--c-white);
    border-radius: 50%;
    padding: .25rem;
    margin-right: .5rem;
}

.hidden {
    display:none!important;
}

a {
    color:var(--c-light);
    text-decoration:none;
}

@media (max-width: 960px) {
    body {
        --page-padding:1rem;
    }

    #pageHeader {
        flex-wrap:wrap;
        align-items:stretch;
    }

    #pageTitle {
        margin:auto;
        margin-bottom:2rem;
    }

    #collectionList {
        --margin:0;
        border-left:0;
        border-right:0;
        width:100vw;
        grid-template-columns:4rem 5rem 240px 120px 120px 120px 120px 120px 120px 120px 120px 120px 120px 120px 120px;
    }

    #controls {
        width:100vw;
        display:flex;
        align-items:center;
        flex-wrap:wrap;
    }

    #connectWallet {
        margin:0 auto;
    }

    #controlsSeparator {
        width:100%;
        margin:0;
        margin-top:1rem;
        margin-bottom:2rem;
        text-align:center;
    }

    #controls .input {
        margin-left:auto;
    }

    #displayCustomAddress {
        margin-right:auto;
    }

    #stats {
        --rows:10;
        --columns:4;
    }

    #statPossibleROI { grid-area:5 / 1 / span 2 / span 2; }
    #statTotalInvestment { grid-area:5 / 3 / span 2 / span 2; }
    #statCollectionBreakdown { grid-area:7 / 1 / span 4 / span 4; }

    #stats .statCard.smallStat .statValue {
        font-size:3rem;
    }

    #salesTabPane {
        width:100vw;
        max-width:100vw;
        height:100vh;
        max-height:100vh;
    }

    #portfolioSettings {
        flex-direction:column;
    }

    #portfolioSettings > .panel {
        margin:0;
        margin-bottom:.5rem;
        width:100%;
    }

    #refreshPanel {
        display:flex;
        align-items:center;
    }

    #refreshCollections {
        margin-left:auto;
    }
}
