---
layout: default
---
<main id="app">
    <header id="pageHeader">
        <h1 id="pageTitle">
            {% include pie.svg %}
            Portfolio Overview
        </h1>
        <div id="controls">
            <button id="connectWallet" class="hidden">Display Mine</button>
            <span id="controlsSeparator" class="hidden">&mdash;&nbsp;OR&nbsp;&mdash;</span>
            <label class="input">
                <span>Custom Address</span>
                <input id="customAddress" type="text" />
            </label>
            <button id="displayCustomAddress">Show</button>
        </div>
    </header>
    <section id="stats" class="hidden">
        <div id="statTotalOwned" class="statCard">
            <div class="statTitle">Total Owned</div>
            <div class="statValue">--</div>
        </div>
        <div id="statCollections" class="statCard">
            <div class="statTitle">Collections</div>
            <div class="statValue">--</div>
        </div>
        <div id="statMinValue" class="statCard smallStat">
            <div class="statTitle">Total Min. Value</div>
            <div class="statValue">--</div>
        </div>
        <div id="statAvgValue" class="statCard smallStat">
            <div class="statTitle">Total 1-day Avg. Value</div>
            <div class="statValue">--</div>
        </div>
        <div id="statPossibleROI" class="statCard smallStat">
            <div class="statTitle">Possible ROI</div>
            <div class="statValue">--</div>
        </div>
        <div id="statTotalInvestment" class="statCard smallStat">
            <div class="statTitle">Total Investment</div>
            <div class="statValue">--</div>
        </div>
        <div id="statCollectionBreakdown" class="statCard">
            <div class="statTitle">Min. Value by Collection</div>
            <div class="statValue">
                <canvas id="statCollectionPieChart"></canvas>
            </div>
        </div>
    </section>
    <section id="portfolioSettings" class="hidden">
        <h2>Collections</h2>
        {% include components/checkbox.html
            name="showHiddenCheckbox" label="Show hidden collections" %}
    </section>
    <section id="collectionList" class="hidden">
    </section>
</main>
<script src="./js/index.js" type="module" async></script>
