@mixin card {
    background:var(--c-main);
    border-radius:.5rem;
    color:var(--c-white);
    //background:var(--c-white);
    //box-shadow:3px 5px 5px rgb(0 0 0 / 10%), -3px 5px 5px rgb(0 0 0 / 10%);
}
