#tokensTabContainer {
    [data-ref="loader"] {
        margin-left:auto;
        margin-right:auto;
        
        svg {
            overflow:visible;
            fill:var(--c-secondary);
            stroke:var(--c-secondary);
        }
    }

    [data-ref="assets"] {
        display:grid;
        grid-template-columns:1fr 1fr 1fr;
        grid-gap:1rem;
    }

    .token {
        display:flex;
        flex-direction:column;
        color:var(--c-text);
    }

    .tokenImage {
        height:120px;
        width:100%;
        align-self:center;
        background-size:cover;
        background-position:center;
        border-radius:5px;
        border:solid 1px var(--c-border);
        margin-bottom:1rem;
    }
}
